.wrapperForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.headingForm {
	width: fit-content;
    font-size: 22px;
    text-align: center;
}
form.formFeedBack {
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.formFeedBack .textField {
    padding: 7px 10px;
    line-height: 1;
}
.formFeedBack .butSubmitForm {
    width: fit-content;
    margin: auto;
    padding: 5px 25px;
    font-size: 14px;
}
.messageBlockForm {
    display: none;
}
.messageBlockForm.active {
    display: block;
}